.hero {
	background-image: url(../../img/Background-hero.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1080px;
	width: 100%;
	color: var(--white-color);
}

.hero__container {
	position: relative;
	padding-top: 219px;
	padding-bottom: 200px;
	height: 100%;
}

.hero__link {
	display: inline-block;
	font-family: 'SF Pro Display';
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 18px 30px;
	margin-bottom: 40px;
}

.hero__title {
	text-transform: capitalize;
	font-family: 'SF Pro Display';
	font-size: 80px;
	line-height: 105%;
	max-width: 35%;
	margin-bottom: 40px;
}

.hero__descr {
	font-family: 'SFCompactText';
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 59px;
	max-width: 29%;
}

.hero__btn {
	font-family: 'SF Pro Display';
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2.18182px;
}

.red-btn {
	display: inline-block;
	color: var(--white-color);
	background-color: #E8594E;
	padding: 33px 80px;
	border-radius: 7px;
	cursor: pointer;
}

.hero__bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: calc(100% - 60px);
	display: flex;
	align-items: flex-end;
}

.hero__form {}

.search-form {
	flex-shrink: 0;
	width: 67%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 4px;
	height: 120px;
}

.search-form__field {
	background-color: #fff;
	color: var(--dark-color);
	border: none;
	width: 100%;
	height: 100%;
	padding-left: 55px;
	padding-right: 85px;
}

.search-form__button {
	width: 18px;
	height: 21px;
	background-image: url(/Mitravel/Mitravel/img/icons/search.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 62px;
	top: 50%;
	transform: translateY(-50%);
}

.hero__slider {}

.slider {}

.slider-wrapper {}

.slider__media {}

.slider__name {}