.travel {}

.travel__container {
    padding: 150px 20px;
}



.travel__title {
    max-width: 50%;
    font-family: 'SFProDisplay';
    font-size: 64px;
    line-height: 125%;
    color: #1C2E3D;
    margin: 0 0 96px 0;
}

.travel__cards {
    flex: 1 1 23.5%;
    flex-wrap: nowrap;
    gap: 2%;
    row-gap: 2rem;
}

.travel__card {
    position: relative;
    max-height: 551px;
    font-size: 0;
    border-radius: 4px;
}
.travel__card img {}

.travel__text {
    position:absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    line-height: 129%;
    padding-left: 15%;
    padding-bottom: 17%;
    color: var(--white-color);
    transform: translateY(300px);
}

.travel__card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--heaven-color);
mix-blend-mode: normal;
opacity: 0;
border-radius: 4px;
transition: opacity 0.3s ease-in-out;
}
.travel__card:hover::before {
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.travel__card:hover .travel__text {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}